<h1>Choose at least one category</h1>

<%= form_with model: @category_payment, url: "/categories/#{@category.id}/category_payments/#{@payment.id}", local: true do |form| %>
  <% if @category_payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category_payment.errors.count, "error") %> prohibited this category payment from being saved:</h2>

      <ul>
        <% @category_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% form.hidden_field :payment_id, value: @payment.id%>

  <%@categories.each do |category|%>
    <div>
      <input type="checkbox" name="category_ids[]" value="<%= category.id %>">
      <div>
        <i class="<%= category.icon %>"></i>
        <p><%= category.name %></p>
      </div>
    </div>
  <%end%>

  <div>
    <%= form.submit %>
  </div>
<%end%>