<h1>Choose at least one category</h1>

<%= form_with(model: @category_payment) do |form| %>
  <%@categories.each do |category|%>
    <div>
      <input type="checkbox" name="category_ids[]" value="<%= category.id %>">
      <div>
        <i class="<%= category.icon %>"></i>
        <p><%= category.name %></p>
      </div>
    </div>
  <%end%>

  <div>
    <%= form.submit %>
  </div>
<%end%>