<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>
<h2><%= @category.name%></h2>
<p>Total transactions: $<%= format("%.2f", @payments.sum(:amount))%></p>
<a href= <%= home_path%>><i class="fas fa-chevron-left"></i></a>

<div id="transactions">
  <% @payments.each do |payment| %>
    <%= render payment %>
  <% end %>
</div>

<%= link_to "New Transaction", new_payment_path(@category.id) %>
