<section id='transactions'>
  <div class='top-section'>
    <a class='back-arrow' href= <%= home_path%>><i class="fas fa-arrow-left"></i></a>
    <h3>Transactions</h3>
    <div>&nbsp;</div>
  </div>

  <div id='total-transactions' class='flex-row'>
    <h4><%= @category.name%></h4>
    <p>Total: $<%= format("%.2f", @payments.sum(:amount))%></p>
  </div>

  <div id="payments">
    <% @payments.each do |payment| %>
    <div class='payment flex-col'>
        <div class='details flex-row'>
          <p><%= payment.name %></p>
          <p>$<%= format("%.2f", payment.amount) %></p>
        </div>
        <p class='date'> <%= payment.created_at.strftime('%d-%b-%Y') %> </p>
      </div>
    <% end %>
  </div>

  <div class='green-button-container'>
    <%= link_to "New Transaction", new_payment_path(@category.id), class: 'green-button' %>
  </div>
</section>
